<div id="message-<%= message.id %>">
  <small>
    <%# <strong><%= message.sender.nickname ></strong> %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p> <%= cl_image_tag current_user.photo.key, class: "avatar rounded-circle" %><br><%= message.content %></p>
</div>
