

<div class="container-profile">
  <header>

  </header>
  <div class="row">
    <div class="profile-info">
      <h3 class="d-flex justify-content-around fw-bold mt-2 "><%= @user.first_name %> <%= @user.last_name %></h3>
      <%# <p><i class="fa-sharp fa-solid fa-location-dot"></i>Location</p>
      <p><%= @user.bio %></p>
    </div>
    <div class="left col-lg-4">
      <div class="photo-left ">
        <%= cl_image_tag @user.photo.key, class:"profile-photo"%>
        <button type="button" class="btn btn-flat"><i class="fa-solid fa-messages"></i><i class="fa-solid fa-comment"></i> Send a message </button>
      </div>
    </div>
  </div>
</div>














<div class="container">











<p>
<% if @user.wants_to_carpool %>
<div class="card w-25px">
  <div class="card-body">
    carpool <i class="fa-solid fa-car-side"></i>
  </div>
</div>
<% else  %>
<%= @user.first_name + " Doesn't accepts carpooling requests"   %>
<% end %>
</p>







</div>
