<header></header>
<div class="d-flex justify-content-center align-items-center profile-all-section">
  <div class="d-flex flex-column justify-content-center align-items-center profile-left-section">
          <%= cl_image_tag @user.photo.key, class:"profile-photo"%>
      <%# <button type="button" class="btn btn-flat"><i class="fa-solid fa-message" style="color:white"></i>Send a message </button> %>
      <i class="fa-solid fa-messages"></i><i class="fa-solid fa-comment"></i>
      <%= link_to "Send a message", profile_messages_path(@user.id), class:"btn btn-flat mt-5" %>
  </div>

<div class="container-profile mt-0 w-50">
    <div class="row">
      <div class="profile-info d-flex flex-column justify-content-start">
        <h3 class="fw-bold mt-2"><%= @user.first_name %> <%= @user.last_name %></h3>
        <p class= "fw-bold mb-0" ><i class="fa-sharp fa-solid fa-location-dot"></i><%= @user.address %></p>
        <p class= "d-flex">
          <% if @user.wants_to_carpool %>
            <div class="d-flex">

              <div class="card d-flex m-1">
                <div class="card-body py-0" style="color:#A4BE7B">
                  carpool  <i class="fa-solid fa-car-side" style="color:#A4BE7B"></i>
                </div>
              </div>

              <div class="card d-flex m-1">
                <div class="card-body py-0" style="color:#A4BE7B">
                  carpool  <i class="fa-solid fa-car-side" style="color:#A4BE7B"></i>
                </div>
              </div>

            </div>
          <% else  %>
          <% end %>
        </p>
        <p class="mt-4"><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>



<%# PAGE CONTENT %>
<div class="container">
<h4 class="fw-bold"style="color:#285430"><%= @user.first_name%>'s completed events</h4>


  <div class="container">
    <% @markers.each do |past_event| %>

    <% end %>
  </div>

  <!-- User events -->
  <div class="all-events w-100">

    <%# <% raise %>
    <% @past_bookings.each do |booking| %>
      <%# <% if current_user == booking.user %>
        <div id="events">

          <div class="card mb-5 mt-5" style="max-width: 540px;">
            <%= link_to event_path(booking.event), class:"text-decoration-none" do %>
              <div class="row g-0">
                <div class="col-md-4">
                  <%= image_tag booking.event.organization.photo_url, class:"img-fluid", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title"><%= booking.event.name %></h2>
                    <h3 class="card-organization"><%= booking.event.organization.name %></h3>
                    <h5 class="card-date"><i class="fa-solid fa-calendar-days"></i><%= booking.event.date %></h5>
                    <% if user_signed_in? && current_user == booking.user %>
                      <div class="review-button my-5">
                        <%= link_to "Write a review", new_booking_review_path(booking), class:"btn btn-flat" %>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>
            <% end %>
          </div>

        </div>
      <%# <% end %>
    <% end %>
  </div>
  <!-- END User events -->



  <div class="row">
    <div style="width: 100%; height: 600px;"
          data-controller="tree-counter"
          data-tree-counter-events-value="<%= @markers.to_json %>"
          data-tree-counter-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

  <%# IF STATEMENT TO DISPLAY STATUS TAG ACCORDING TO NUMBER OF EVENTS COMPLETED gold= 10+, silver= 5+, bronze = 0+ %>

  <%# GOLD SHOVEL %>
  </p>
    <div class=" g-shovel card w-25px d-inline-flex ">
      <div class="card-body py-0">
        gold shovel <i class="fa-solid fa-medal" style="color:gold"></i>
      </div>
    </div>

  </p>


  <%# SILVER SHOVEL %>
  </p>
    <div class=" s-shovel card w-25px d-inline-flex ">
      <div class="card-body py-0">
        silver shovel <i class="fa-solid fa-medal"style="color:silver"></i>
      </div>
    </div>
  </p>

  <%# GOLD SHOVEL %>
  </p>
    <div class=" b-shovel card w-25px d-inline-flex ">
      <div class="card-body py-0">
        bronze shovel <i class="fa-solid fa-medal" style="color:brown"></i>
      </div>
    </div>
  </p>
  <h4 class="fw-bold"style="color:#285430"><%= @user.first_name%>'s upcoming events</h4>
  <% @upcoming_events.each do |event| %>
    <p><strong>Event name:</strong></p><p><%= event.name %></p>
    <p><strong>Event date:</strong></p><p><%= event.date %></p>
  <% end %>
</div>
