<div id="<%= dom_id event %>">

  <%= render "individual_event", event: event %>

  <%# <% user = booking.select { |b| b.user == current_user } %>
  <%# <%= raise %>

<% unless @event.users.include?(current_user) %>
  <br>
  <br>
  <%= raise %>
  <%= simple_form_for([event, booking]) do |f| %>
    <br>
    <%= f.submit "Join event", class: "btn btn-flat" %>
  <% end %>

<% end %>

<%# <% if false %>

  <div class="container">
    <p>
      <% bookings.each do |booking| %>
        <%= link_to profile_path(booking.user) do %>
          <div>
            <% if booking.user.photo.attached? %>
              <%= cl_image_tag booking.user.photo.key, class:"img-fluid rounded-circle shadow-4-strong", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
            <% end  %>
            <%= booking.user.first_name %> <%= booking.user.last_name %>
          </div>
        <% end %>
      <% end %>
    </p>
  </div>
<%# <% end %>
</div>
