<div id="<%= dom_id event %>">
  <p>
    <strong>name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>time:</strong>
    <%= event.time %>
  </p>

<p>
    <strong>region:</strong>
    <%= event.region %>
  </p>

  <p>
    <strong>capacity:</strong>
    <%= event.capacity %>
  </p>

</div>
