<%# <div id="<%= dom_id event %>
  <%# <p> %>
    <%# <strong>name:</strong> %>
    <%# <%= event.name %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>description:</strong> %>
    <%# <%= event.description %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Organisation:</strong> %>
    <%# <%= event.organization.name %>
    <%# <%= image_tag event.organization.photo_url, class:"img-fluid ", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Latitude:</strong> %>
    <%# <%= event.latitude %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Longitude:</strong> %>
    <%# <%= event.longitude %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>date:</strong> %>
    <%# <%= event.date %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>time:</strong> %>
    <%# <%= event.time %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>region:</strong> %>
    <%# <%= event.region %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>capacity:</strong> %>
    <%# <%= event.capacity %>
  <%# </p> %>
<%# </div> %>
