<div class="container">
  <h1>New event</h1>

  <%= simple_form_for([@organization, @event]) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :date %>
        <%= f.input :time %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
        <%= f.input :region %>
        <%= f.input :capacity %>
        <%= f.button :submit %>
  <% end %>
</div>
