<%# BANNER %>
<div class="banner-with-button">
  <div class="banner event-banner" style="background-image: linear-gradient(rgba(255,255,255,0.60),rgba(255,255,255,0.60)), url(https://images.unsplash.com/photo-1597868165956-03a6827955b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
    <div class="container">
      <h1 class="title-organization fs-1" style="font-family:roboto, sans-serif;"><%= @event.name %></h1>
      <h1 class="title-organization-event fs-1" style="font-family:roboto, sans-serif;"><%= @event.organization.name.capitalize %></h1>
    </div>
    <%# <Calendar> %>
    <div class="calendar">
      <h4 class="card-date fs-3"><i class="fa-solid fa-calendar-days"></i><%= @event.date %></h4>
    </div>


  <div class="container">

    <% if !@event.users.include?(current_user) && @event.date > Date.today %>
      <div class="d-flex justify-content-between" data-controller="join-event">
        <%= simple_form_for([@event,  @booking]) do |f| %>
          <br>
          <%# <Button> %>
          <div class="button-position">
            <button type="button" class="btn btn-flat" id="sweet-alert-demo">Join event</button>
          </div>
        <% end %>
      </div>
    <% elsif @event.users.include?(current_user) %>
      <div class="d-flex justify-content-between">
        <br>
        <% if @event.date < Date.today %>
          <p class="mt-5" style="color: green">You have already participated to this event.</p>
        <% else %>
          <p class="mt-5" style="color: green">Subscribed to event</p>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-between">
        <br>
        <p class="mt-5">You have missed this event!</p>
      </div>
    <% end %>
    </div>
  </div>
</div>


<div class="container">

<div class="container">
  <h2 class="details my-5 fw-semibold fs-1">Details</h2>

  <br>

  <%# DESCRIPTION/CAPACITY/DATE OF THE EVENT %>
  <div class="card">
    <div class="card-body">
      <div class="description">
        <%= @event.description %>
      </div>
      <br>
      <div class="capacity">
        <small class= "muted">Capacity: <%= @event.capacity %></small>
      </div>
      <%# <br> %>
    </div>
  </div>

  <h2 class="my-5 fw-semibold fs-1" style="color:#285430; font-family:roboto, sans-serif;">Meet up point</h2>

  <p style="color: green"><%= notice %></p>

  <%# Geocoding for show page - start - %>
  <div class="container">
    <div class="row">
      <div style="width: 100%; height: 600px;"
        data-controller="eventmap"
        data-eventmap-event-value="<%= @event.to_json %>"
        data-eventmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

  <div id="<%= dom_id @event %>">

    <%# LIST OF PEOPLE WHO ATTENDED/ATTENDING THIS EVENT %>
    <h2 class="my-5 fw-semibold fs-1; " style="color:#285430; font-family:roboto, sans-serif;">
      People
      <% if @event.date < Date.today %>
        who attended
      <% else %>
        attending
      <% end %>
        this event
    </h2>

    <div class="container">
      <div class="d-flex align-items-start justify-content-start firstname-link">
          <% @bookings.each do |booking| %>
            <%= link_to profile_path(booking.user) do %>
              <div class="d-inline">
                <% if booking.user.photo.attached? %>
                  <%= cl_image_tag booking.user.photo.key, class:"img-fluid rounded-circle shadow-4-strong mx-2", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
                <% end  %>
                <p>
                  <div class="firstname">
                    <%= booking.user.first_name %>
                  </div>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>

     <br>
     <br>

  <%= link_to "< Back to events", events_path, class: "btn btn-flat mb-5" %>
</div>
