<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597868165956-03a6827955b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1 class="fs-1" style="font-family:roboto, sans-serif;"><%= @organization.name %></h1>
  </div>
</div>


<div class="container">

  <div class="d-flex justify-content-between">
    <h2 class="my-5">About Us</h2>
      <%# REVIEW BUTTON %>
    <div class="review-button my-5">
      <a class="btn btn-flat" href="#">Write a review</a>
    </div>
  </div>

  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
  <h3 class="my-5">Reviews</h3>

  <%# REVIEW CARD %>
  <% if false %>
  <% @review.each_with_index do |review, index| %>
    <p>
      <%= image_tag review.booking.user.photo, class:"img-fluid rounded-circle shadow-4-strong ", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
      <!-- Reviewer name -->
      <%= review.booking.user.first_name %> <%= review.booking.user.last_name %>
      <!-- Review date -->
      <%= review.created_at.year %>/<%= review.created_at.month %>/<%= review.created_at.day < 10 ? "0#{review.created_at.day}" : review.created_at.day %>
      <!-- Rating in stars -->
      <% review.rating.times do %>
        <% unless review.rating.is_a? Integer %>
          <i class="fa-solid fa-star-half-stroke"></i>
        <% end %>
        <i class="fa-solid fa-star fa-star-gold"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
     <!-- <%= review.rating %> / 5 -->
  </p>
  <p>Review id: <%= review.id %></p>
  <%# <p><%= @users[index].booking.review %>
  <p><%= review.content %></p>
<% end %>
<% end %>

</div>



<%# CARD LAYOUT %>

<% @review.each_with_index do |review, index| %>
  <div class="container">
    <div class="col-12">
      <div class="card py-2 my-3" style="width:100%">
        <div class="row g-0">
          <div class="col-md-2">
            <img class="rounded-circle shadow-4-strong img-fluid w-50 "  src="https://www.w3schools.com/w3images/avatar2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <p class="card-text">

                <small class="text-muted">
                  <!-- Review date -->
                  <%= review.created_at.year %>/<%= review.created_at.month %>/<%= review.created_at.day < 10 ? "0#{review.created_at.day}" : review.created_at.day %>
                </small>

                <!-- Rating in stars -->
                <% review.rating.times do %>
                  <i class="fa-solid fa-star fa-star-gold"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>

              </p>

              <h5 class="card-title" style="font-family:roboto, sans-serif;">
                <!-- Reviewer name -->
                <%= review.booking.user.first_name %> <%= review.booking.user.last_name %>
              </h5>
              <!-- Review content -->
              <p class="card-text"><%= review.content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Back to organizations", organizations_path %>
