<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.60),rgba(255,255,255,0.60)), url(https://images.unsplash.com/photo-1597868165956-03a6827955b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
      <div class="card-img-top p-3 pb-0 mx- position-relative">
        <h1 class="position-absolute top-50 start-0 translate-middle-y" style="font-family:roboto, sans-serif;color:#285430;font-size:65px;font-weight:bold;"><%= @organization.name %></h1>
        <%= image_tag @organization.photo_url, class:"img-fluid position-absolute top-50 end-0 translate-middle-y", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
      </div>
  </div>
</div>


<div class="container">

  <div class="d-flex justify-content-between">
    <h3 class="my-5" style="font-family:roboto, sans-serif;color:#285430;font-size:28px;font-weight:bold;">About us</h3>
    <%# REVIEW BUTTON %>

    <% if user_signed_in? %>
      <div class="review-button my-5">
        <%# <%= link_to "Write a review", new_organization_review_path(@organization), class:"btn btn-flat" %>
      </div>
    <% end %>
  </div>

  <p><%= @organization.about_us %></p>
  <h3 class="my-5" style="font-family:roboto, sans-serif;color:#285430;font-size:28px;font-weight:bold;">Reviews</h3>


</div>



<%# CARD LAYOUT %>

  <% @review.each_with_index do |review, index| %>
    <div class="container mt-5">
      <div class="col-12">
        <div class="card py-2 my-3" style="width:100%">
          <div class="row g-0 bg-white mt-2 mb-2" >
            <div class="col-md-2 position-relative">
              <%= cl_image_tag review.booking.user.photo.key, class:"img-fluid rounded-circle shadow-4-strong img-fluid mx-auto d-block w-50 position-absolute top-50 start-50 translate-middle"%>
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <p class="card-text">

                  <small class="text-muted">
                    <!-- Review date -->
                    <%= review.created_at.year %>/<%= review.created_at.month %>/<%= review.created_at.day < 10 ? "0#{review.created_at.day}" : review.created_at.day %>
                  </small>

                  <h5 class="card-title" style="font-family:roboto, sans-serif;">
                    <!-- Reviewer name -->
                    <%= link_to "#{review.booking.user.first_name}" " #{review.booking.user.last_name}", profile_path(review.booking.user), class:"text-decoration-none text-dark" %>
                  </h5>

                  <!-- Rating in stars -->
                  <% review.rating.times do %>
                    <i class="fa-solid fa-star fa-star-gold"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="fa-regular fa-star"></i>
                    <%# <i class="fa-solid fa-star"></i> %>
                  <% end %>

                </p>

                <!-- Review content -->
                <p class="card-text"><%= review.content %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
