<body class="log">
  <div class="container mt-5 d-flex justify-content-center">
            <% if false %>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2 style="color:#285430">Write a review</h2>
          <br>
              <%= simple_form_for([@organization, @review]) do |f| %>
                <p>Please select a rating: <%= f.select :rating, options_for_select(%w[0 1 2 3 4 5])%></p>

                <%= f.input :content, label: 'Your review:'%>
                <br>
                <%= f.button :submit , class: "btn btn-flat w-100"%>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

<body class="log">
  <div class="container mt-5 d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body ">
          <h2 style="color:#285430" > Write a review</h2>
          <br>
            <%= simple_form_for([@booking, @review]) do |f| %>
            <p>Please select a rating: <%= f.select :rating, options_for_select(%w[0 1 2 3 4 5])%></p>

            <%= f.input :content, label: 'Your review:'%>
            <br>
            <%= f.button :submit , class: "btn btn-flat w-100"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
