<%# BANNER %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597868165956-03a6827955b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1 class="fs-1" style="font-family:roboto, sans-serif;"><%= @organization.name %></h1>
  </div>
</div>

<div class="container my-5">
  <%= simple_form_for([@organization, @review]) do |f| %>
    <%= f.select :rating, options_for_select(%w[0 1 2 3 4 5]) %>
    <%= f.input :content %>
    <br>
    <%= f.button :submit , class: "btn btn-flat"%>
  <% end %>
</div>

<div class="container">
  <%= link_to "< Back to organizations", organizations_path, class:"btn btn-flat mb-5"  %>
</div>
